@model UCP1_PAW_077.Models.Testimoni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Testimoni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeProduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeProduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTestimoniNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTestimoniNavigation.KodeProduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeJenisProdukNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeJenisProdukNavigation.KodeJenisProduk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTestimoni">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
